{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container d-flex flex-column gap-5 text-white">
        <a class="link-info" href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>

        <h1>Add new category: </h1>
        {{ form_start(form) }}
        <div class="d-flex flex-column gap-3 align-items-start">
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr' : {'class' : 'p-1'}}) }}
            </div>
            <button class='btn btn-outline-info' type="submit">Add category</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
