{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container text-white d-flex flex-column gap-5">
        <a class="link-info" href="{{ path('category_index') }}">
            Back to categories
        </a>

        <h1>All {{ category }} shows</h1>
        {% for program in programs %}
            <div class="d-flex gap-3">
                <img src="{{ program.poster }}" style="height: 10rem">
                <div>
                    <h2>{{ program.id }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                    <p>{{ program.synopsis }}</p>
                    <a class="link-info" href="{{ path('program_show', {slug: program.slug}) }}">more...</a>
                </div>
            </div>
        {% else %}
            No Tv shows were found
        {% endfor %}
    </div>
{% endblock %}
