<div class="card bg-dark bg-gradient shadow-lg mb-5" style="width: 50rem;">
    <div class="card-body d-flex flex-column text-white">
        <div>
            <img class="float-start pe-3 pb-3" src="{{program.poster}}" alt="{{ program.title }} poster">
            <h1 class="card-title">{{ program.title }}</h1>
            <p class="card-text">{{ program.category.name }}</p>
            <p class="card-text">{{ seasons|length }} seasons</p>
            <p class="card-text">{{ program.synopsis }}</p>
            <strong>Actors:</strong>
            <p>
                {% for actor in program.actors %}
                    <span>{{ actor.name }}{% if not loop.last %}{{ ', ' }}{% endif%} </span>
                {% else %}
                    <span>No actors found</span>
                {% endfor %}
            </p>
            <div>
                {% if is_granted('ROLE_ADMIN') or program.owner == app.user  %}
                    <a class="text-info" href="{{ path('program_edit', { 'slug': program.slug} ) }}">edit</a>
                {% endif %}
            </div>
        </div>
        <div>
            <ul class="list-group list-group-flush mb-3 rounded">
                {% for season in seasons %}
                    <li class="list-group-item bg-dark">
                        <a class="text-white" href="{{ path('program_season_show', {programId: program.id, seasonId: season.id}) }}">Season {{ season.number }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
