{% extends 'base.html.twig' %}

{% block title %}Add new program{% endblock %}

{% block body %}
    <div class="container text-white d-flex flex-column gap-5">
        <a class="link-info" href="{{ path('app_index') }}">
            Back to home
        </a>
        <h1 class="text-white">All TV shows</h1>
        <div class="d-flex align-items-start gap-5">
            {{ form_start(form, { 'attr': {'class': 'w-100'} }) }}
            <div class="row flex-column">
                <div class="col">
                    <p>{{ form_label(form.title) }}</p>
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'col-6 p-2 mb-5'} }) }}
                </div>
                <div class="col">
                    <p>{{ form_label(form.synopsis) }}</p>
                    {{ form_widget(form.synopsis, { 'attr': {'class': 'w-100 p-2 mb-5'} }) }}
                </div>
                <div class="col">
                    <p>{{ form_label(form.poster) }}</p>
                    {{ form_widget(form.poster, { 'attr': {'class': 'col-6 p-2 mb-5'} }) }}
                </div>
                <div class="col">
                    <p>{{ form_label(form.category) }}</p>
                    {{ form_widget(form.category, { 'attr': {'class': 'p-2 mb-5'} }) }}
                </div>
                <div class="col">
                    <p>{{ form_label(form.actors) }}</p>
                    <div class="d-flex gap-3 flex-wrap mb-5">
                        {% for child in form.actors %}
                            <div>
                                {{ form_widget(child) }}
                                {{ form_label(child) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-outline-info p-2" type="submit">Add program</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
